{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Woo",
    "description": "The open api specification of the Woo api.",
    "contact": {
      "name": "Conduction B.V.",
      "email": "info@conduction.nl",
      "url": "https://conduction.nl"
    }
  },
  "servers": [
    {
      "url": "https://api.gateway.commonground.nu/api"
    }
  ],
  "paths": {
    "/api/publications": {
      "get": {
        "tags": [
          "Publicaties"
        ],
        "summary": "Retrieve publication collection",
        "operationId": "get-api-publications",
        "parameters": [
          {
            "name": "oin.organisation",
            "in": "query",
            "description": "Oin of a organisation to filter on.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categorie",
            "in": "query",
            "description": "Categorie to filter on.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Publicatie"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      },
      "post": {
        "tags": [
          "Publicaties"
        ],
        "summary": "Create a publication",
        "operationId": "post-api-publications",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Publicatie"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Publicatie"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      }
    },
    "/api/publicaties/{id}": {
      "get": {
        "tags": [
          "Publicaties"
        ],
        "summary": "Retrieve a publication",
        "operationId": "get-api-publications-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Publicatie"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      },
      "put": {
        "tags": [
          "Publicaties"
        ],
        "summary": "Update a publicatie",
        "operationId": "put-api-publicaties-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Publicatie"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Publicatie"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      },
      "patch": {
        "tags": [
          "Publicaties"
        ],
        "summary": "Modify a publicatie",
        "operationId": "patch-api-publicaties-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Publicatie"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Publicatie"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      },
      "delete": {
        "tags": [
          "Publicaties"
        ],
        "summary": "Delete a publicatie",
        "operationId": "delete-api-publicaties-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      }
    },
    "/api/bijlagen": {
      "get": {
        "tags": [
          "Bijlagen"
        ],
        "summary": "Retrieve bijlagen collection",
        "operationId": "get-api-bijlagen",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Bijlage"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      },
      "post": {
        "tags": [
          "Bijlagen"
        ],
        "summary": "Create a bijlage",
        "operationId": "post-api-bijlagen",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Bijlage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bijlage"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      }
    },
    "/api/bijlagen/{id}": {
      "get": {
        "tags": [
          "Bijlagen"
        ],
        "summary": "Retrieve a bijlage",
        "operationId": "get-api-bijlagen-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bijlage"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      },
      "put": {
        "tags": [
          "Bijlagen"
        ],
        "summary": "Update a bijlage",
        "operationId": "put-api-bijlagen-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Bijlage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bijlage"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      },
      "patch": {
        "tags": [
          "Bijlagen"
        ],
        "summary": "Modify a bijlage",
        "operationId": "patch-api-bijlagen-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Bijlage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bijlage"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      },
      "delete": {
        "tags": [
          "Bijlagen"
        ],
        "summary": "Delete a bijlage",
        "operationId": "delete-api-bijlagen-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      }
    },
    "/api/organisaties": {
      "get": {
        "tags": [
          "Organisaties"
        ],
        "summary": "Retrieve organisatie collection",
        "operationId": "get-api-organisaties",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Organisatie"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      },
      "post": {
        "tags": [
          "Organisaties"
        ],
        "summary": "Create a organisatie",
        "operationId": "post-api-organisaties",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Organisatie"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organisatie"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      }
    },
    "/api/organisaties/{id}": {
      "get": {
        "tags": [
          "Organisaties"
        ],
        "summary": "Retrieve a organisatie",
        "operationId": "get-api-organisaties-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organisatie"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      },
      "put": {
        "tags": [
          "Organisaties"
        ],
        "summary": "Update a organisatie",
        "operationId": "put-api-organisaties-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Organisatie"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organisatie"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      },
      "patch": {
        "tags": [
          "Organisaties"
        ],
        "summary": "Modify a organisatie",
        "operationId": "patch-api-organisaties-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Organisatie"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organisatie"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      },
      "delete": {
        "tags": [
          "Organisaties"
        ],
        "summary": "Delete a organisatie",
        "operationId": "delete-api-organisaties-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      }
    },
    "/api/themas": {
      "get": {
        "tags": [
          "Themas"
        ],
        "summary": "Retrieve thema collection",
        "operationId": "get-api-themas",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Thema"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      },
      "post": {
        "tags": [
          "Themas"
        ],
        "summary": "Create a thema",
        "operationId": "post-api-themas",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Thema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thema"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      }
    },
    "/api/themas/{id}": {
      "get": {
        "tags": [
          "Themas"
        ],
        "summary": "Retrieve a thema",
        "operationId": "get-api-themas-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thema"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      },
      "put": {
        "tags": [
          "Themas"
        ],
        "summary": "Update a thema",
        "operationId": "put-api-themas-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Thema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thema"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      },
      "patch": {
        "tags": [
          "Themas"
        ],
        "summary": "Modify a thema",
        "operationId": "patch-api-themas-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Thema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thema"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      },
      "delete": {
        "tags": [
          "Themas"
        ],
        "summary": "Delete a thema",
        "operationId": "delete-api-themas-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      }
    },
    "/api/metadata": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "Retrieve metadata collection",
        "operationId": "get-api-metadata",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Metadata"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      },
      "post": {
        "tags": [
          "Metadata"
        ],
        "summary": "Create a metadata",
        "operationId": "post-api-metadata",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Thema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thema"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      }
    },
    "/api/metadata/{id}": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "Retrieve a metadata",
        "operationId": "get-api-metadata-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      },
      "put": {
        "tags": [
          "Metadata"
        ],
        "summary": "Update a metadata",
        "operationId": "put-api-metadata-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Metadata"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      },
      "patch": {
        "tags": [
          "Metadata"
        ],
        "summary": "Modify a metadata",
        "operationId": "patch-api-metadata-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Metadata"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      },
      "delete": {
        "tags": [
          "Metadata"
        ],
        "summary": "Delete a metadata",
        "operationId": "delete-api-metadata-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "servers": [
          {
            "url": "https://api.gateway.commonground.nu/api"
          }
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Publicaties",
      "description": "Operations related to publicaties"
    }
  ],
  "components": {
    "schemas": {
      "Publicatie": {
        "type": "object",
        "title": "Publicatie",
        "properties": {
          "themas": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/Thema"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "bijlagen": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Bijlage"
            }
          },
          "organisatie": {
            "$ref": "#/components/schemas/Organisatie"
          },
          "publicatiedatum": {
            "type": "string",
            "nullable": true,
            "description": "Publicatiedatum van een Woo object is nooit in de toekomst."
          },
          "portalUrl": {
            "type": "string",
            "nullable": true,
            "format": "url"
          },
          "gepubliceerd": {
            "type": "boolean",
            "default": true
          },
          "categorie": {
            "type": "string",
            "nullable": true
          },
          "samenvatting": {
            "type": "string",
            "nullable": true
          },
          "beschrijving": {
            "type": "string",
            "nullable": true
          },
          "titel": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "publicatiedatum",
          "categorie"
        ]
      },
      "Thema": {
        "type": "object",
        "title": "Thema",
        "properties": {
          "hoofdthema": {
            "type": "string",
            "nullable": true
          },
          "subthema": {
            "type": "string",
            "nullable": true
          },
          "aanvullendThema": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "hoofdthema"
        ]
      },
      "Metadata": {
        "type": "object",
        "title": "Metadata",
        "description": "Metadata object for Woo object",
        "properties": {
          "verzoek": {
            "$ref": "#/components/schemas/Verzoek"
          },
          "volgnummer": {
            "type": "string",
            "nullable": true
          },
          "besluitdatum": {
            "type": "string",
            "nullable": true,
            "description": "format: Y-m-d"
          }
        }
      },
      "Verzoek": {
        "type": "object",
        "title": "Verzoek",
        "properties": {
          "status": {
            "type": "string",
            "nullable": true
          },
          "besluit": {
            "$ref": "#/components/schemas/Bijlage"
          },
          "informatieverzoek": {
            "$ref": "#/components/schemas/Bijlage"
          },
          "inventarisatielijst": {
            "$ref": "#/components/schemas/Bijlage"
          },
          "ontvangerInformatieverzoek": {
            "type": "string",
            "nullable": true
          },
          "ontvangstdatum": {
            "type": "string",
            "nullable": true,
            "description": "format: Y-m-d"
          },
          "termijnoverschrijding": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Bijlage": {
        "type": "object",
        "title": "Bijlage",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "tijdstipLaatsteWijziging": {
            "type": "string",
            "nullable": true,
            "description": "format: Y-m-d\\TH:i:s",
            "format": "datetime"
          },
          "titel": {
            "type": "string",
            "nullable": true
          },
          "label": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true,
            "format": "url"
          }
        },
        "required": [
          "titel"
        ]
      },
      "Organisatie": {
        "type": "object",
        "title": "Organisatie",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "uuid": {
            "type": "string",
            "nullable": true
          },
          "oin": {
            "type": "string",
            "nullable": true
          },
          "tooi": {
            "type": "string",
            "nullable": true
          },
          "rsin": {
            "type": "string",
            "nullable": true
          },
          "naam": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "naam"
        ]
      }
    }
  }
}